<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleauf.css">
    
    </style>
    <title>Suscribete</title>
</head>
<body>
    <div class="app">

		<div class="bg"></div>

		<form action="http://localhost:4200/adduser" method="post">
			<header>
				<img src="img/imagen1.png">
			</header>
		
			<div class="inputs">
				<h2>REGISTRATE</h2>
				<div class="select">
					<select  name="rol" >
					   <option selected disabled>Escoja su rol</option>
					   <option value="estudiante">Estudiante</option>
					   <option value="docente">Docente</option>
					</select>
				 </div>
                <input type="text" name="nombre" placeholder="nombre de usuario">
				<input type="text" name="email" placeholder="correo">
				<input type="password" name="password" placeholder="contraseña">
			</div>
            <button>Continue</button>
		</form>

		<footer>
			
			<p>¿Ya tengo una cuenta? <a href="/">Iniciar sesion</a></p>
		</footer>


	</div>
</body>
</html>