<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleauf.css">
    
    </style>
    <title>INICIAR SESIÓN</title>
</head>
<body>
    <div class="app">

		<div class="bg"></div>

		<form action="login" method="post">
			<header>
				<img src="img/imagen1.png">
			</header>
			<div class="inputs">
				<input type="text" name="email" placeholder="correo">
				<input type="password" name="password" placeholder="contraseña">
			</div>
            <button>Continue</button>
		</form>

		<footer>
			
			<p>¿No tienes una cuenta? <a href="/addUserForm">Suscribete</a></p>
		</footer>


	</div>
</body>
</html>