<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
<%- include('./fijos/menu.ejs', {variant:'compact'}) %>
          
      
              <div class="main-content">
                <div class="header">
                  <div class="page-display">
                    <h1>Bienvenido al Menú Docente</h1>
                    <p>Usuario: <%= nombre %></p>
                  </div>
                </div>
      
                <hr>
                <div class="featured-clay">
                    <img src="img/fondomenu.jpg" alt="Descripción de la imagen" style="max-width: 100%;">
                </div>
                <hr>
              </div>
      
            </div>
      
          </div>
      
        </div>
      
      </div>
</body>
</html>